src/lua51.dll
src/lua51.exp
src/lua51.lib
src/luajit.exe
src/luajit-win32.exe
build
src/lj_bcdef.h
src/lj_folddef.h
src/lj_libdef.h
src/lj_recdef.h
src/lj_ffdef.h
src/lj_vm.obj
src/host/buildvm_arch.h
src/jit/vmdef.lua
src/*.obj
src/*.lib
src/*.dll
src/*.exe
src/*.exp

*-build/
**/*CMakeFiles
src/android-empty

**/*.vcxproj*
**/cmake_install.cmake
**/CMakeCache.txt
**/*.sln